[Unit]
Description=ISO8583 Forwarder
After=postgresql.service

[Service]
Type=simple
User=h2h
ExecStart=/home/h2h/bin/start
ExecStop=/home/h2h/bin/stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
