[Unit]
Description=ISO8583 Forwarder

[Service]
Type=forking
PIDFile=/home/sugiana/tmp/iso8583-forwarder.pid
ExecStart=/sbin/start-stop-daemon --background \
    --pidfile /home/sugiana/tmp/iso8583-forwarder.pid \
    --exec /usr/local/bin/iso8583-forwarder \
    --start --quiet
ExecStop=/usr/local/bin/iso8583-forwarder --stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
